<!-- <div style="height: 200px; width=200px; background-color: yellow" class="container">
  <div 
    style="height: 20px; width: 20px; background-color: red; z-index: 10" 
    cdkDrag 
    cdkDragBoundary=".container"
    (cdkDragEnded)="onDragEnded($event)">
  </div>

  <div 
    style="height: 80%; width=50%;left:50%; background-color: blue">
  </div>
</div> -->


<div style="width: 100%;background-color: yellow"> 
  

  <!-- <div style="width: 50%; float: left; z-index: 1"> -->
    
  <!-- </div> -->

  <div class="video-container">

    
    <video autoplay muted loop>
        <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4" />
    </video>
    <div class="caption">
      <textarea ng-model="myTextarea"
      style="height: 50px; width: width: 100%;;  background-color: transparent; border: 0 none;z-index: 1" 
      cdkDrag 
      cdkDragBoundary=".container"
      (cdkDragEnded)="onDragEnded('reel1', $event)"> 😋 Get Emoji — All Emojis to ✂️ Copy and 📋 Paste 👌</textarea>

    <textarea ng-model="myTextarea"
      style="height: 50px; width: 200px; background-color: red; z-index: 1" 
      cdkDrag 
      cdkDragBoundary=".container"
      (cdkDragEnded)="onDragEnded('reel2', $event)"> Reels 2</textarea>

    <textarea ng-model="myTextarea"
      style="height: 50px; width: 200px; background-color: red; z-index: 1" 
      cdkDrag 
      cdkDragBoundary=".container"
      (cdkDragEnded)="onDragEnded('reel3', $event)"> Reels 3</textarea>
    </div>
  </div>

  <button (click) = "saveThePlan()"> save </button>
</div>